*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: "Times New Roman", Times, serif ;
	min-height: 100vh;
	background:linear-gradient(rgba(0,0,0,0.05), rgba(0,0,0,0.05)), url(index.jpg) no-repeat;
	background-size: cover;
	font-size: 18px;
	z-index: -22;
	overflow: hidden;
}

nav{
	height: 80px;
	width: 100%;
	background: #34495e;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

form{
	width: 95%;
	display: flex;
	justify-content: space-between;
}

.logo{
	font-size: 34px;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 80px;
	color: #e0ac69 ;
	letter-spacing: 3px;
	text-decoration: underline;
	margin-left: 2rem;
	cursor:pointer;
}

.logo:hover{
	font-size: 36px;
}

.logo a{
	color: #e0ac69 ;
	text-decoration: none;
}

nav ul{
	display: flex;
	align-items: center;
	justify-content: space-around;
	line-height: 80px;
}

nav ul li{
	list-style: none;
	margin: 0 1.5rem;
}

.fa{
	color: #e2f3f5 ;
}

i.fa{
	font-size: 1.3rem;
}

input[type="submit"]{
	padding: 12px 12px;
	background: transparent;
	color: #e2f3f5 ;
	font-size: 20px;
	text-transform: uppercase;
	border: transparent;
	outline:none;
	cursor:pointer;
}


input[type="submit"]:hover{
	border: none;
	border-bottom: 1px solid white;
	font-size: 22px;
	color: white;
}

ul li:nth-child(1) input[type="submit"]{
	color: white ;
	font-size: 1.45rem;
	border-bottom: 1px solid white;
}

ul li:nth-child(1) i.fa{
	color: white ;
	font-size: 1.4rem;
}

ul li:nth-child(3) input[type="submit"]{
	color: #00BFFF ;
}

ul li:nth-child(3) i.fa{
	color: #00BFFF ;
	font-size: 1.4rem;
}

ul li:nth-child(4) input[type="submit"]{
	color: #FF4500 ;
}

ul li:nth-child(4) i.fa{
	color: #FF4500 ;
}

ul li:nth-child(3) input[type="submit"]:hover{
	border: none;
	border-bottom: 1px solid #00BFFF;
}

ul li:nth-child(4) input[type="submit"]:hover{
	border: none;
	border-bottom: 1px solid #FF4500;
}

section{
	font-family: 'Roboto Mono', monospace;
	font-weight: 600;
	color: #3d3d29 ;
	position: absolute;
	top:29%;
	left: 4.5%;
	width: 36%;
	font-size: 2rem;
	word-spacing: 1px;
	line-height: 1.5;
}


.hamburger{
	display: none;
}

.hamburger i{
	font-size: 28px;
}

.nav2{
	transform:translateX(0%);
}

@media screen and (max-width: 608px){
	.logo{
		position: absolute;
		display: block;
		top: 0vh;
		left: 0;
		cursor: pointer;
	}
	nav ul{
		position: absolute;
		height:90vh;
		right: 0;
		top: 4vh;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		background-color: #34495e ;
		width: 50%;
		transform: translateX(100%);
		transition: transform 0.8s ease-in-out;
	}

	.hamburger{
		position: absolute;
		display: block;
		top: 3.8vh;
		right: 10%;
		cursor: pointer;
	}

	section{
		width: 40% ;
		font-size: 0.9rem;
	}
}