*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: "Times New Roman", Times, serif ;
	min-height: 100vh;
	background:linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.2)), no-repeat;
	background-size: cover;
	font-size: 18px;
	z-index: -22;
	overflow: hidden;
	user-select: none;
}

nav{
	height: 80px;
	width: 100%;
	background: #34495e;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.form{
	width: 95%;
	display: flex;
	justify-content: space-between;
}

.logo{
	font-size: 34px;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 80px;
	color: #e0ac69 ;
	letter-spacing: 3px;
	text-decoration: underline;
	margin-left: 2rem;
	cursor:pointer;
}

.logo:hover{
	font-size: 36px;
}

.logo a{
	color: #e0ac69 ;
	text-decoration: none;
}

nav ul{
	display: flex;
	align-items: center;
	justify-content: space-around;
	line-height: 80px;
}

nav ul li{
	list-style: none;
	margin: 0 2rem;
}

.fa{
	color: #e2f3f5 ;
	font-size: 20px;
}

input[type="submit"]{
    padding: 12px 12px;
    background: transparent;
    color: #e2f3f5 ;
    font-size: 20px;
    text-transform: uppercase;
    border: transparent;
    outline: none;
    cursor:pointer;
}


input[type="submit"]:hover{
	border: none;
	border-bottom: 1px solid white;
	font-size: 22px;
	color: white;
}

ul li:nth-child(2) i.fa{
    color: white ;
    font-size: 1.4rem;
}

ul li:nth-child(2) input[type="submit"]{
    color: white ;
    font-size: 1.3rem;
    border-bottom: 1px solid white;
}

ul li:nth-child(2) input[type="submit"]:hover{
    font-size: 1.35rem;
}

ul li:nth-child(3) i.fa{
	color: #00BFFF ;
	font-size: 1.4rem;
}

ul li:nth-child(3) input[type="submit"]{
	color: #00BFFF ;
}

ul li:nth-child(3) input[type="submit"]:hover{
	border: none;
	border-bottom: 1px solid #00BFFF;
}

.hamburger{
	display: none;
}

.hamburger i{
	font-size: 28px;
}

.nav2{
	transform:translateX(0%);
}

.bookappointment{
	position: absolute;
	line-height: 2;
	top: 20vh;
	left: 18%;
	background: #34495e; 
	padding: 1.5rem;
	width: 36%;
	font-size: 1.2rem;
}

.bookappointment div{
	text-align: center;
	margin-bottom: 2%;
	color: red ;
}

.bookappointment label{
    float: left;
    clear: left;
    width: 200px;
    padding-left: 1rem;
    margin-bottom: 0.4rem;
    color: #e4fcf9 ;
}
.bookappointment input,textarea,select{
	float: left;
    background-color: #dee3e3; 
    margin-left: 5%;
    font-size: 1rem;
    width: 50%;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    outline: none;
}

.bookappointment input:focus,
.bookappointment textarea:focus,
.bookappointment select:focus{
	border: 1px solid #e0ac69 ;
}

.bookappointment label sub{
	font-weight: lighter;
	font-size: 0.7rem;
	line-height: 1;
}

.bookappointment .file{
	margin-top: -1.8rem;
}

.bookappointment button{
	cursor: pointer;
	text-transform: uppercase;
	font-weight: bolder;
	margin-top: 8%;
    width: 90%;
    margin-left: 5%;
	padding: 8px;
	font-size: 1.4rem;
	background-color: #dfddc7 ;
	color: #2a5d67 ;
	outline: none;
	border: 1px solid grey;
	border-radius: 6px;
}

.bookappointment button:hover{
	transform: scale(1.1);
}

section{
	position: absolute;
    font-family: 'Roboto Mono', monospace;
    top: 35vh;
    right: 5%;
    width: 35%;
}

section p{
    font-weight: 600;
    color: #3b5441 ;
	text-transform: uppercase;
    font-size: 2.2rem ;
    line-height: 1.6;
}

section p strong{
	text-decoration: underline;
	font-size: 2.3rem;
	color: #107a8b ;
}

@media screen and (max-width: 608px){
	.logo{
		position: absolute;
		display: block;
		top: 0vh;
		left: 0;
		cursor: pointer;
	}
	nav ul{
		position: absolute;
		height:90vh;
		right: 0;
		top: 8vh;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		background-color: #34495e ;
		width: 50%;
		transform: translateX(100%);
		transition: transform 0.8s ease-in-out;
		z-index: 2222;
	}

	ul li:nth-child(2) i.fa{
		font-size: 0.8rem;
	}

	input[type="submit"]{
		font-size: 14px;
	}

	ul li:nth-child(2) input[type="submit"]{
	    font-size: 0.9rem;
	}

	ul li:nth-child(2) input[type="submit"]:hover{
	    font-size: 0.94rem;
	}

	.hamburger{
		position: absolute;
		display: block;
		top: 3.5vh;
		right: 10%;
		cursor: pointer;
	}

	.bookappointment{
		width: 70%;
		left: 6%;
		top: 18vh;
		font-size: 0.95rem ;
		line-height: 1.4;
	}

	.bookappointment input,textarea,select{
		padding: 0.2rem ;
		 width: 80%;
	}

	.bookappointment button{
		padding: 6px;
		font-size: 0.95rem;
	}

	.bookappointment .file{
		margin-top: 0;
	}

    section{
    	display: none;
    }

}
