*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: "Times New Roman", Times, serif ;
	min-height: 100vh;
	background:linear-gradient(30deg, #daeaf6 40%, #eeeeee 40%);
	background-size: cover;
	font-size: 18px;
	z-index: -22;
	overflow-x:  hidden;
}

nav{
	height: 80px;
	width: 100%;
	background: #34495e;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

form{
	width: 95%;
	display: flex;
	justify-content: space-between;
}

.logo{
	font-size: 34px;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 80px;
	color: #e0ac69 ;
	letter-spacing: 3px;
	text-decoration: underline;
	margin-left: 2rem;
	cursor:pointer;
}

.logo:hover{
	font-size: 36px;
}

.logo a{
	color: #e0ac69 ;
	text-decoration: none;
}

nav ul{
	display: flex;
	align-items: center;
	justify-content: space-around;
	line-height: 80px;
}

nav ul li{
	list-style: none;
	margin: 0 1.5rem;
}

.fa{
	color: #e2f3f5 ;
}

i.fa{
	font-size: 1.3rem;
}

input[type="submit"]{
	padding: 12px 12px;
	background: transparent;
	color: #e2f3f5 ;
	font-size: 20px;
	text-transform: uppercase;
	border: transparent;
	outline:none;
	cursor:pointer;
}


input[type="submit"]:hover{
	border: none;
	border-bottom: 1px solid white;
	font-size: 22px;
	color: white;
}

ul li:nth-child(2) input[type="submit"]{
	color: white ;
	font-size: 1.45rem;
	border-bottom: 1px solid white;
}

ul li:nth-child(2) i.fa{
	color: white ;
	font-size: 1.4rem;
}

ul li:nth-child(3) input[type="submit"]{
	color: #00BFFF ;
}

ul li:nth-child(3) i.fa{
	color: #00BFFF ;
	font-size: 1.4rem;
}

ul li:nth-child(4) input[type="submit"]{
	color: #FF4500 ;
}

ul li:nth-child(4) i.fa{
	color: #FF4500 ;
}

ul li:nth-child(3) input[type="submit"]:hover{
	border: none;
	border-bottom: 1px solid #00BFFF;
}

ul li:nth-child(4) input[type="submit"]:hover{
	border: none;
	border-bottom: 1px solid #FF4500;
}

section{
	font-family: 'Roboto Mono', monospace;
	font-weight: 600;
	color: #3d3d29 ;
	position: relative;
	font-size: 1.6rem;
	word-spacing: 1px;
	line-height: 1.4;
}

.left-container{
	position:absolute;
	left: 4.5%;
	width: 40%;
	top: 30vh;
}

.left-container h1{
	text-transform: uppercase;
	font-size: 3.6rem;
	color: #3b3c38 ;
}

.left-container article{
	line-height: 1.6;
	width: 80%;
	font-size: 0.85rem;
	margin-left: 0.5rem;
	color: #5b5c5a ;
}

.left-container article .regards{
	margin-top: 0.3rem ;
	font-size: 1.2rem;
	color: #6b5a5a ;
}

aside{
	position: absolute;
	display: inline-block;
	background-color: #dee3e3 ;
	border-radius:  6px;
	text-align: center;
	font-size: 2rem;
	width:40%;
	right: 4.5%;
	top: 15%;
	transform: translateY(15%);
}

aside form{
	display: inline-block;
	width: 80%;
	padding: 1rem;
}

aside h2{
	margin-bottom:  0.6rem;
	color: #0f0a3c ;
}

aside input,textarea,button{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
}

aside input:focus,
aside textarea:focus{
	outline: none;
	border: 2px solid #0090ad ;
}

aside textarea{
	height: 140px;
}


aside div button{
	width: 90%;
	background-color: #009f9d ;
	color: #cdffeb ;
	font-size: 1.4rem;
	font-weight: bolder;
	text-transform: uppercase;
	border: none;
	cursor: pointer;
}

aside div button:hover{
	transform: scale(1.1);
}

.hamburger{
	display: none;
}

.hamburger i{
	font-size: 28px;
}

.nav2{
	transform:translateX(0%);
}

@media screen and (max-width: 608px){
	.logo{
		position: absolute;
		display: block;
		top: 0vh;
		left: 0;
		cursor: pointer;
	}
	nav ul{
		position: absolute;
		height:90vh;
		right: 0;
		top: 10vh;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		background-color: #34495e ;
		width: 50%;
		transform: translateX(100%);
		transition: transform 0.8s ease-in-out;
		z-index: 88888;
	}

	.hamburger{
		position: absolute;
		display: block;
		top: 3.8vh;
		right: 10%;
		cursor: pointer;
	}

	section{
		font-size: 0.9rem;
		line-height: 1.2;
	}

	.left-container{
		top:4vh;
		width: 50%;
	}

	.left-container h1{
		font-size: 1.9rem;
	}

	.left-container article{
		display: none;
	}	

	aside{
		left: 5%;
		top: 4vh;
		width: 70%;
		font-size: 1rem;
	}

	aside input,textarea,button{
		font-size: 0.9rem;
	}
}