*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: "Times New Roman", Times, serif ;
	min-height: 100vh;
	background:linear-gradient(rgba(0,0,0,0.05), rgba(0,0,0,0.2)), url(home.jpg) no-repeat;
	background-size: cover;
	font-size: 18px;
	z-index: -22;
	overflow: hidden;
}

nav{
	height: 80px;
	width: 100%;
	background: #34495e;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

form{
	width: 95%;
	display: flex;
	justify-content: space-between;
}

.logo{
	font-size: 34px;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 80px;
	letter-spacing: 3px;
	text-decoration: underline;
	margin-left: 2rem;
	cursor:pointer;
}

.logo:hover{
	font-size: 36px;
}

.logo a{
	color: #e0ac69 ;
	text-decoration: none;
}

nav ul{
	display: flex;
	align-items: center;
	justify-content: space-around;
	line-height: 80px;
}

nav ul li{
	list-style: none;
	margin: 0 2rem;
}

.fa{
	color: #e2f3f5 ;
	font-size: 20px;
}

input[type="submit"]{
    padding: 12px 12px;
    background: transparent;
    color: #e2f3f5 ;
    font-size: 20px;
    text-transform: uppercase;
    border: transparent;
    outline: none;
    cursor:pointer;
}


input[type="submit"]:hover{
	border: none;
	border-bottom: 1px solid white;
	font-size: 22px;
	color: white;
}

ul li:nth-child(3) i.fa{
	color: #00BFFF ;
	font-size: 1.4rem;
}

ul li:nth-child(3) input[type="submit"]{
	color: #00BFFF ;
}

ul li:nth-child(3) input[type="submit"]:hover{
	border: none;
	border-bottom: 1px solid #00BFFF;
}

.hamburger{
	display: none;
}

.hamburger i{
	font-size: 28px;
}

.nav2{
	transform:translateX(0%);
}

section{
	font-family: 'Roboto Mono', monospace;
	font-weight: 600;
	color: #3d3d29 ;
	position: absolute;
	top: 30%;
	left: 4.5%;
	width: 40%;
}

section p{
	font-size: 2.5rem;
	word-spacing: 1px;
	line-height: 1.2;
}

section p strong{
	font-size: 2.8rem;
	color: #39a78e ;
}

section button{
	margin-top: 1.2rem ;
	margin-left: 0.4rem ;
	text-transform: uppercase;
	padding: 12px 24px;
	font-size: 1.9rem;
	background: #34495e;
	outline: none;
	border: 1px solid grey;
	cursor: pointer;
}

section button:hover{
	transform: scale(1.05);
}

section  a{
	color: #e0ac69 ;
	text-decoration: none;
	font-weight: bolder;
}

@media screen and (max-width: 608px){
	.logo{
		position: absolute;
		display: block;
		top: 0vh;
		left: 0;
		cursor: pointer;
	}
	nav ul{
		position: absolute;
		height:90vh;
		right: 0;
		top: 5vh;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		background-color: #34495e ;
		width: 50%;
		transform: translateX(100%);
		transition: transform 0.8s ease-in-out;
	}

	ul li:nth-child(2) i.fa{
		font-size: 0.9rem;
	}

	input[type="submit"]{
		font-size: 14px;
	}

	.hamburger{
		position: absolute;
		display: block;
		top: 3.5vh;
		right: 10%;
		cursor: pointer;
	}

	section p{
		font-size: 18px;
		line-height: 1.5;
	}

	section button{
		text-transform: uppercase;
		padding: 8px 16px;
		font-size: 0.9rem;
		background: #34495e;
		outline: none;
		border: 1px solid grey;
	}

}