*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Times New Roman", Times, serif ;
    min-height: 100vh;
    font-size: 18px;
    overflow-x: hidden;
    background:linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)) ;
    z-index: -222;
}

nav{
    height: 80px;
    width: 100%;
    background: #34495e;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

form{
    width: 95%;
    display: flex;
    justify-content: space-between;
}

.logo{
    font-size: 34px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 80px;
    color: #e0ac69 ;
    letter-spacing: 3px;
    text-decoration: underline;
    margin-left: 2rem;
    cursor:pointer;
}

.logo:hover{
    font-size: 36px;
}

.logo a{
    color: #e0ac69  ;
    text-decoration: none;
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    line-height: 80px;
}

nav ul li{
    list-style: none;
    margin: 0 2rem;
}

.fa{
    color: #e2f3f5 ;
    font-size: 20px;
}

input[type="submit"]{
    padding: 12px 12px;
    background: transparent;
    color: #e2f3f5 ;
    font-size: 20px;
    text-transform: uppercase;
    border: transparent;
    outline: none;
    cursor:pointer;
}


input[type="submit"]:hover{
    border: none;
    border-bottom: 1px solid white;
    font-size: 22px;
    color: white;
}

ul li:nth-child(1) i.fa{
    color: white ;
    font-size: 1.4rem;
}

ul li:nth-child(1) input[type="submit"]{
    color: white ;
    font-size: 1.3rem;
    border-bottom: 1px solid white;
}

ul li:nth-child(1) input[type="submit"]:hover{
    font-size: 1.35rem;
}

ul li:nth-child(3) i.fa{
    color: #00BFFF ;
    font-size: 1.4rem;
}

ul li:nth-child(3) input[type="submit"]{
    color: #00BFFF ;
}

ul li:nth-child(3) input[type="submit"]:hover{
    border: none;
    border-bottom: 1px solid #00BFFF;
}

.hamburger{
    display: none;
}

.hamburger i{
    font-size: 28px;
}

.nav2{
    transform:translateX(0%);
}

section{
    font-family: 'Roboto Mono', monospace;
    font-weight: 600;
    color: #3d3d29 ;
    position: relative;
    top: 8vh;
    left: 4.5%;
    width: 60%;
}

section p{
    font-size: 1.5rem ;
    line-height: 1.8;
}

section .button{
    margin-top: 1.6rem;
    text-transform: uppercase;
    padding: 6px 14px;
    font-size: 1.2rem;
    background: #34495e;
    color: white ;
    outline: none;
    border: 1px solid grey;
    cursor: pointer;
}

table{
    margin-top: 1rem;
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
}

th, td {
    background: #e0e1e2 ;
    padding: 6px;
    text-align: center;
    border: 1px solid black;
}

@media screen and (max-width: 608px){
    .logo{
        position: absolute;
        display: block;
        top: 0vh;
        left: 0;
        cursor: pointer;
    }
    nav ul{
        position: absolute;
        height:90vh;
        right: 0;
        top: 5vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: #34495e ;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.8s ease-in-out;
    }

    ul li:nth-child(2) i.fa{
        font-size: 0.9rem;
    }

    input[type="submit"]{
        font-size: 14px;
    }

    .hamburger{
        position: absolute;
        display: block;
        top: 3.5vh;
        right: 10%;
        cursor: pointer;
    }

    section p{
        font-size: 0.9rem ;
        line-height: 1.4;
    }

    section .button{
        text-transform: uppercase;
        padding: 6px 12px;
        font-size: 0.8rem;
        outline: none;
        border: 1px solid grey;
    }

    table{
        table-layout: auto;
        font-size: 12px;
        width: 50% ;
    }

    th, td {
        padding: 5px;
    }

    table td{
        width: 20%;
        word-wrap:break-word;
    }
}