<Html>
<head> 
<title>
Book Appointment
</title>
</head>



<body>
	
	<script type="text/javascript" src="{{url_for('static',filename='JScript.js')}}"></script>
	
	<br>
	<br>
	<form action="{{url_for('bookappointment')}}" method="POST" enctype="multipart/form-data" name="bookappointment" onsubmit="return validate_file();">
		<div>{{ msg }}</div><br>

		<label> Appointment Date:*</label>       
		<input type="Date" name="appointmentdate" required/> <br> <br>

		<label> First name:* </label>       
		<input type="text" name="firstname" size="15" pattern="[A-Za-z]{1,32}" required /> <br> <br>

		<label> Last name:* </label>       
		<input type="text" name="lastname" size="15" pattern="[A-Za-z]{1,32}" required/> <br> <br>
		
		<label> Age* : &nbsp&nbsp&nbsp&nbsp</label>
		<input type="number" name="age" max="100" min="1" size="1" required/>&nbsp years <br> <br>
		
		<label> 
		Gender* :
		</label> 
		<select name="gender" required>
		<option value="Male">Male</option>
		<option value="Female">Female</option>
		<option value="Other">Other</option>
		</select>
		
		<br>
		<br>
	 	
	 	<label>
		Phone* :
		</label>
	 
		<input type="text" name="phone" size="10" required/> <br> <br>

		Symptoms*
		<br>
		<textarea cols="80" rows="5"  name="symptoms" placeholder="Tell us what you are feeling" required></textarea><br> <br>

		<label>Upload Previous Medical Report (If any)</label><br>
		<label><sub>only .pdf/.doc/.txt format is allowed</sub></label><br>
		<input id="file" type="file" name="reportfile" onchange="return validate_file();"><br><br>
		<!--
		Address
		<br>
		<textarea cols="80" rows="5" name="address" value="Address"></textarea>
		<br><br>
		-->
		<input type="submit" value="Submit Form">
	</form>
	 
</body>

</html>
