<!DOCTYPE html>
<html>
<head>
	<title>Online Medical Consultaion</title>
</head>
<body>
<center>
	
<form action="/" method="POST">
	<!--<input type="submit" name="home_button" value="Home"><br><br>-->
	<input type="submit" name="about_button" value="About"><br><br>
	<input type="submit" name="contact_button" value="Contact"><br><br>
	<input type="submit" name="login_button" value="Login"><br><br>
	<input type="submit" name="signup_button" value="Signup"><br><br>
	<!--<input type="submit" name="bookappointment_button" value="Book Appointment"><br><br>-->
	<!--Dont use '/' in value-->
	<!--<input type="submit" name="submit_button" value="Do Something Else">-->
</form>
<!--
<form method ="post" action="/temp">
  <button type="submit" name="submit_a" value="submit_a"> Submit_a </button>
  <button type="submit" name="submit_b" value="submit_b"> Submit_b </button>
</form> 
-->



</center>
	  
</body>
</html>