<!DOCTYPE html>
<html>
    <head>
        <title>Profile</title>
    </head>
    <body>
 		<h1>Your Info</h1>
        <p>Username :&nbsp{{user.username}}</p>
        <p>Email &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp:&nbsp{{user.email}}</p>
        <p>Password :&nbsp{{user.password}}</p>
        
        <input type="button" value ="Your Appointments" onclick="showApnts()"><br>
 
		<table id="apntTable" style="display: none;">
			<thead>
				<tr>
					<th>Appointment ID</th>
        			<th>Patient's Name</th>
        			<th>Appointment Date</th>
				</tr>
			</thead>
 
		<tbody>	
			{% for data in userAppointments %}
			<tr>
				<td>{{data["appoint_id"]}}</td>
				<td>{{data["Fname"]}} &nbsp {{data["Lname"]}}</td>
				<td>{{data["appoint_date"]}}</td>
			</tr>
			{% endfor %}
			
		</tbody>
 		
 		</table>
 		    <script type="text/javascript">
		    	function showApnts(){
		    		var t=document.getElementById('apntTable');
		    		if(t.style.display==="none"){
		    			t.style.display="block";
		    		}
		    		else{
		    			t.style.display="none";
		    		}
		    	}
    		</script>
    </body>
</html>
