<!--<!DOCTYPE html>
<html>
<head>
	<title>Signup</title>
</head>
<body>
<h1>Fill the Signup form<h1>
</body>
</html>
-->

<!-- Store this code in 'register.html' file inside the 'templates' folder -->

<html> 
	<head> 
		<meta charset="UTF-8"> 
		<title> Register </title> 
		 			 
	</head> 
	<body></br></br></br></br></br> 
		<div align="center"> 
		<div align="center"> 
			<div> 
				<h1>Signup</h1> 
			</div></br></br></br> 
			<h2> 
				<form action="{{ url_for('signup') }}" method="POST"> 
				<div>{{ msg }}</div> 
					<!--<input id="username" name="username" type="text" placeholder="Enter Your Username"/></br></br>-->
					<input type="text" name="username" placeholder="Enter Your Username"><br><br> 
					<!--<input id="password" name="password" type="password" placeholder="Enter Your Password" /></br></br>-->
					<input type="password" name="password" placeholder="Enter Your Password"><br><br> 
					<!--<input id="email" name="email" type="text" placeholder="Enter Your Email ID"/></br></br>-->
					<input type="text" name="email" placeholder="Enter Your Email ID"><br><br> 
					<input type="submit" value="Sign Up"></br> 
				</form> 
			</h2> 
			<p>Already have an account? <a href="{{url_for('login')}}"> Sign In here</a></p> 
		</div> 
		</div> 
	</body> 
</html> 
